# *30-09-2025*

## ternary operator in python

In [1]:
#The ternary operator in Python is a one-line shorthand for if-else statements. Itâ€™s also known as a conditional expression.

In [ ]:
value_if_true if condition else value_if_false

In [3]:
age = 19
status = "Adult" if age>= 18 else "minor"
print(status)

Adult

In [6]:
score = int(input())

if score >= 90:
    print("A")
else:
    if score >= 70:
        print("B")
    else:
        print("C")

 90

A

In [7]:
score = 76
grade = "A" if score >=90 else "B" if score >= 75 else "C"
print(grade)

B

In [8]:
from datetime import datetime

current_hour = datetime.now().hour

greetings = (
     "good morning" if current_hour < 12 else
     "good afternoon" if current_hour < 18 else
     "good evening" if current_hour < 21 else
     "good night"
)

print(greetings)

good afternoon

In [9]:
current_hour

15

### Match case

In [10]:
day = "sunday"

match day:
    case "monday":
       print("this is start of week")
    case "tuesday":
         print("this is a second day of the week")
    case "wednesday":
         print("this is mid of the week")
    case _ :
        print("its just a another day")

its just a another day

In [12]:
num = 12

In [13]:
if 10 > num:
    print("first")
elif 10 > num:
    print("secomd")
else:
    print("third")

third