1.	Slicing - Basic: Given the string text = "Programming", write the code to extract and print the substring "gram".

In [10]:
str1 = "programming"
print(str1)

programming

In [12]:
str1[3:7]

'gram'

2.	Slicing - Negative Indexing: Given the string data = "Python_Expert", 
write the code to extract and print the substring "Expert"
using only negative indices.

In [14]:
data = "python_expert"
data[-6:]

'expert'

3.	Length and Access: Store your full name in a variable full_name. Print both the total length of the string and the character at the very first index.

full_name = "mayur mhaiske"
print(len(full_name))
full_name[0]
full_name.index("m")

4.	Case Conversion: Write a program that asks the user for a word and then prints that word three times: once in all uppercase, once in all lowercase, and once with only the first letter capitalized.

In [23]:
a = input("enter your string")
print(a.upper())
print(a.lower())
print(a.title())

enter your string my name is saorav

MY NAME IS SAORAV
my name is saorav
My Name Is Saorav

5.	Splitting and Joining: Given the string sentence = "Python is powerful", first split the string into a list of words. Then, join the words back into a single string using a hyphen (-) as the separator.

In [33]:
str2 = "Python is powerful"
str2.rsplit()

['Python', 'is', 'powerful']

In [34]:
list1=['Python', 'is', 'powerful']

"-".join(list1)

6.	Finding and Indexing: Given haystack = "banana, apple, orange", find the starting index of the word "apple" within the string. Then, use the .replace() method to change "apple" to "kiwi" and print the result.

In [46]:
heystack = ["banana","apple","orange"]
heystack.index("apple")

1

Practice Questions: Type Casting (Type Conversion)

1.	String to Integer:
  
 Task: Given the string price_str = "150", convert it to an integer. Add 50 to the result and print the final value.

In [3]:
price_str = "150"
print(int(price_str) + 50)
print()

200

2.	Integer to Float and String:

 Task: Given the integer count = 25. Convert it to a float and print the result. Then, convert the original integer to a string and concatenate it with the text " items".

In [6]:
count = 25
print(float(count))

25.0

In [8]:
print(str(float(count)) + ' item')

25.0 item

3.	Float to Integer (Truncation):

Task: Given the float pi_val = 3.14159. Use the int() function to convert it to an integer. Explain in a comment what happens to the decimal part during this conversion.

In [11]:
pi_val = 3.14159
print(int(pi_val))    # during conversion the float value convert it into the integer value and the the reasult store in int value

3

4.	List to Tuple and Set:

Task: Given the list data_list = [1, 2, 2, 3, 4, 4]. Convert this list first into a tuple, and then into a set. Print both the resulting tuple and set.

In [13]:
data_list = [1, 2, 2, 3, 4, 4]
a = tuple(data_list)
b = set(data_list)
print(a)
print(b)

(1, 2, 2, 3, 4, 4)
{1, 2, 3, 4}

5.	String to List of Characters:

Task: Given the string word = "PYTHON". Use a type casting function to convert the string into a list where each character is a separate element.

In [16]:
word = "PYTHON"
a = list(word)
print(a)

['P', 'Y', 'T', 'H', 'O', 'N']

6.	Tuple to List and Modification:

Task: Given the tuple config_tup = ('host', 'user', 'port', 80). Convert it to a list. Change the last element (80) to 8080. Finally, print the modified list.

In [13]:
var1 = ('host', 'user', 'port', 80)
a = list(var1)
a.append(80)
print(a)

['host', 'user', 'port', 80, 80]

8.	Checking Prefix/Suffix:

  Write a conditional statement that checks if the string filename = "report.pdf" ends with .pdf AND if it starts with report. Print "File is valid" if both conditions are true.

In [30]:
filename = "report.pdf"

if filename.endswith(".pdf") and filename.startswith("report"):
    print("file is valid")

file is valid

9.	String Multiplication:
Use string multiplication to create and print a string consisting of ten dollar signs ($).

In [35]:
print("$"*10)

$$$$$$$$$$

1.	Creation and Access:

 Create a list named planets containing the names of four planets. Print the entire list, and then print only the third planet using its index.

In [36]:
planets = ["jupyter", "mars" , "earth" , "pluto"]
print(planets.index("earth"))

2

2.	Modification and Deletion:

Given the list tasks = ["buy milk", "clean house", "pay bills", "wash car"]. First, change the second item to "buy bread". Then, delete the last item using the del keyword. Print the final list.

In [42]:
tasks = ["buy milk", "clean house", "pay bills", "wash car"]
tasks[1] = "buy bread"
tasks.pop(-1)
print(tasks)

['buy milk', 'buy bread', 'pay bills']

3.	Appending and Inserting:

Start with an empty list called schedule. Use the .append() method to add two items. Then, use the .insert() method to place a third item at the beginning (index 0). Print the resulting list.

In [51]:
list1 = []
list1.append("milk")
list1.append("bread")
list1.insert(0,"paneer")
print(list1)

['paneer', 'milk', 'bread']

4.	Slicing - Sublist:

Given the list numbers = [10, 20, 30, 40, 50, 60], create and print a new list called middle containing only the elements 20,30,40, and 50 using slicing

In [52]:
num1 = [10, 20, 30, 40, 50, 60]
middle = num1[1:4]
print(middle)

[20, 30, 40]

5.	Iteration with for loop: 
    
    Write a for loop to iterate over the list fruits = ["apple", "banana", "cherry"] and print each fruit name on a separate line.

In [55]:
fruits = ["apple", "banana", "cherry"] 
for fruit in fruits:
    print(fruit)

apple
banana
cherry

7.	Sorting and Reversing:

 Given scores = [95, 78, 88, 92, 85], use a method to sort the list in ascending order (in-place). Then, use another method to reverse the order of the sorted list. Print the final result.

In [6]:
scores = [95, 78, 88, 92, 85]
scores.sort()
print(scores)
scores.reverse()
print(scores)

[78, 85, 88, 92, 95]
[95, 92, 88, 85, 78]

8.	Finding and Counting:

Given the list items = ['A', 'B', 'A', 'C', 'B', 'A']. Print the index of the first occurrence of 'C'. Then, print the total count of the element 'A'.

In [18]:
items = ['A', 'B', 'A', 'C', 'B', 'A']
print(items.index("C"))
print(items.count("A"))

3
3

9.	List Copying (Shallow):

 Create a list original = [1, 2, 3]. Create a shallow copy of this list named new_list (do NOT use simple assignment =). Change the second element of new_list to 99. Print both original and new_list to show they are independent.

In [43]:
original = [1, 2, 3]
new_list = original[:3]
new_list[1] = 99
print("original", original)
print("new_list" , new_list)

original [1, 2, 3]
new_list [1, 99, 3]

10.	Nested Lists and Access:

Create a list named matrix that contains two nested lists: the first nested list should be [1,2], and the second should be [3,4]. Write the code to access and print the number 4.

In [49]:
matrix = [[1,2] , [3,4]]
print(matrix[1][1])

4

Practice Questions: Tuples

1.	Creation and Immutability:

 Create a tuple named coordinates with the values (10,20). Write the code that would be used to try and change the second element to 30 (i.e., coordinates[1] = 30). What kind of error would this code produce?

In [52]:
tup1 = (10,20)
tup1[1] = 30
# the value error is occured because the tuple object dose not support item allignment

TypeError: 'tuple' object does not support item assignment

2.Access and Length:

Given the tuple alphabet = ('a', 'b', 'c', 'd', 'e'), print the total number of elements in the tuple. Then, access and print the second-to-last element using negative indexing.

In [6]:
alphabet = ('a', 'b', 'c', 'd', 'e')
print("total element :" , len(alphabet))
alpha1 =(alphabet[-2])
print(alpha1)

total element : 5
d

3.	Tuple Unpacking:

Given the tuple student = ("Alice", 25, "Physics"), write a single line of code to unpack the values into three separate variables named name, age, and major. Print the value of major

In [9]:
student = ("Alice", 25, "Physics")
name , age , major = ("Alice", 25, "Physics")
print(major)

Physics

4.	Slicing:
  
Given the tuple data = (100, 200, 300, 400, 500), extract and print a new tuple containing only the middle three elements: (200,300,400).

In [15]:
data = (100, 200, 300, 400, 500)
middle = print(data[1:4])

(200, 300, 400)

5.	Single-Element Tuple: 

Write the correct Python syntax to create a tuple named single_item that contains only the string "Hello". Print the tuple and its type to verify its structure

In [18]:
single_item = ("hello")
print(single_item)
print(type(single_item))

hello
<class 'str'>

6.	Nested Tuples: 

Given the tuple nested_data = ( (1, 2), (3, 4), (5, 6) ), write the code to access and print the number 4.

In [21]:
nested_data = ( (1, 2), (3, 4), (5, 6) )
print(nested_data[1][1])

4

7.	Looping: 

Write a for loop to iterate over the tuple colors = ('red', 'green', 'blue') and print each element on a new line, along with its length.

In [22]:
colors = ('red', 'green', 'blue')
for i in colors:
    print(i,len(i))

red 3
green 5
blue 4

8.	Checking for Existence:
  
Write a conditional statement that checks if the value 42 is present in the tuple scores = (15, 22, 42, 38). Print "Score found" if it is, and "Score not present" otherwise.

In [24]:
scores = (15,22,42,38)
x = 42
if x  in scores:
    print("score found")
else:
    print("score not found")

score found

9.	Converting to List:

Given the tuple immutable_data = ('a', 'b', 'c'), convert it into a mutable list named mutable_list. Add the element 'd' to the end of mutable_list. Print the final list.

In [27]:
tup1 = ('a', 'b', 'c')
tup2 = list(tup1)
tup2.append('d')
print(tup2)

['a', 'b', 'c', 'd']

10.	Finding and Counting: 

Given the tuple path = ('N', 'E', 'S', 'W', 'N', 'E'), use the appropriate tuple methods to find the index of the first occurrence of 'S'. Then, print the total count of the element 'N'.

In [45]:
path = ('N', 'E', 'S', 'W', 'N', 'E')
path1 = path.index('S')
path2 = path.count("N")
print( "index of s :",path1)
print("count of n:" ,path2)

index of s : 2
count of n: 2

### Practice Questions: Dictionaries

1.	Creation and Access: Create a dictionary named inventory to store the count of three items: "apples" (30), "bananas" (15), and "oranges" (45). Write the code to access and print the count of "oranges".

In [1]:
inventory = {"apples" :(30), "bananas":(15), "oranges":(45)}
print("count of orange",inventory["oranges"])

count of orange 45

2.	Adding and Updating: Start with the dictionary user = {'username': 'coder', 'level': 5}. Write the code to add a new key-value pair, 'score': 1000, and then update the value of 'level' to 6. Print the final dictionary.

In [3]:
user = {'username': 'coder', 'level': 5}
user ['score'] = 1000
user['level'] = 6
print(user)

{'username': 'coder', 'level': 6, 'score': 1000}

4.	Removing Items (.pop()):
 Given the dictionary data = {'a': 10, 'b': 20, 'c': 30}, use the .pop() method to remove the key-value pair for key 'b'. Print the value that was removed and the resulting dictionary.

In [5]:
data = {'a': 10, 'b': 20, 'c': 30}
remove_value = data.pop('b')
print("remove value is :", remove_value)
print("update dictionary",data)

remove value is : 20
update dictionary {'a': 10, 'c': 30}

3.	Safe Access (The .get() method)

: Given the dictionary config = {'timeout': 60, 'retries': 3}, write a print statement using the .get() method to retrieve the value for the key 'timeout'. Then, write another .get() call to retrieve a value for the non-existent key 'log_level', providing a default value of "INFO".

In [8]:
 config = {'timeout': 60, 'retries': 3}
print(config.get('timeout'))
print(config.get("log_level" , "INFO"))


# The .get() method is handy because it avoids KeyError if the key doesn't exist and lets you specify a default fallback.
# Want to try a few variations with nested dictionaries or missing keys?

60
INFO

4.	Removing Items (.pop()): Given the dictionary data = {'a': 10, 'b': 20, 'c': 30}, use the .pop() method to remove the key-value pair for key 'b'. Print the value that was removed and the resulting dictionary.

In [11]:
data = {'a': 10, 'b': 20, 'c': 30}
data1 = data.pop('b')
print(data)
print(" the resulting dictionary :" , data)

{'a': 10, 'c': 30}
 the resulting dictionary : {'a': 10, 'c': 30}

5.	Iteration Over Keys: Write a for loop to iterate over the keys of the dictionary stock = {'coffee': 150, 'tea': 80, 'sugar': 200} and print each key (the item name) on a new line.

In [18]:
stock = {'coffee': 150, 'tea': 80, 'sugar': 200}
for i in stock:
    print(i)

coffee
tea
sugar

6.	Iteration Over Values: Write a for loop to iterate over the values of the stock dictionary from Question 5 and calculate the total quantity of all items. Print the total.

In [23]:
stock = {'coffee': 150, 'tea': 80, 'sugar': 200}
total_quantity = 0 
for i in stock.values():
    total_quantity += i
print("total_quantity", total_quantity)

total_quantity 430

7.	Iteration Over Items: Write a for loop using the .items() method to iterate over both the key and value of stock. Inside the loop, print a sentence for each item in the format: "The stock for [Key] is [Value]."

stock = {'coffee': 150, 'tea': 80, 'sugar': 200}

for item, quantity in stock.items():
    print(f"The stock for {item} is {quantity}.")

8.	Nested Dictionary Access: Given the nested dictionary project = {'name': 'WebApp', 'details': {'version': 1.2, 'status': 'complete'}}, write the code to access and print the value of the nested key 'version' (i.e., 1.2).

In [30]:
project = {'name': 'WebApp', 'details': {'version': 1.2, 'status': 'complete'}}
print(project['details']['version'])

1.2

9.	Dictionary Comprehension: Use a dictionary comprehension to create a new dictionary where the keys are the numbers 1,2,3,4, and 5, and the corresponding values are the square of the key. Print the resulting dictionary.

In [31]:
squares = {a:a**2 for a in range (1,6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

10.	Using .keys() and Membership: Given the dictionary settings = {'theme': 'dark', 'font': 'sans-serif'}, use the .keys() method along with the in operator to check if the dictionary contains the key 'theme'. Print whether the key was found or not.

In [34]:
settings = {'theme': 'dark', 'font': 'sans-serif'}
if 'theme' in settings.keys():
    print("key is found")
else:
    print("key is not found")

key is found

Practice Questions: Object-Oriented Programming (OOP)

1.	Basic Class and Object Creation (Classes & Objects):
  
o	Task: Define a class named Dog. Give it a class attribute species set to "Canis familiaris". Define an __init__ method that takes name and age and assigns them to instance attributes.

o	Action: Create an instance of Dog named my_dog with a name and age of your choice. Print both its name and its species.

In [10]:
class dog:
    species =  "Canis familiaris"

    def __init__(self, name ,age):
       self.name = name
       self.age = age

dog1 = dog("Buddy", 3)

print(dog1.name)
print(dog1.age)
print(dog1.species)

Buddy
3
Canis familiaris

2.	Instance Methods (Encapsulation):

o	Task: Add a method bark(self) to the Dog class that prints the string "Woof! My name is [name]".

o	Action: Call the bark() method using the my_dog object you created

In [24]:
class dog:
    def __init__(self, name):
        self.name = name

    def bark(self):
        print(f"Woof! My name is {self.name}")
        
my_dog = dog("buddy")
my_dog.bark()

Woof! My name is buddy

In [25]:
class Dog:
    def __init__(self, name):
        self.name = name

    def bark(self):
        print(f"Woof! My name is {self.name}")

# Create an instance of Dog
my_dog = Dog("Buddy")

# Call the bark method
my_dog.bark()

Woof! My name is Buddy

- Class Method and State: o	Task: Define a class named Car with a class attribute total_cars = 0
  
o	Logic: In the init method, increment total_cars every time a new Car object is created. 
o	Action: Create three Car objects and then print the final value of the class attribute Car.total_cars

In [28]:
class car:
    total_cars = 0

    def __init__(self):
        car.total_cars += 1
my_car = car()
my_car = car()
my_car = car()

print(my_car.total_cars)

3

4.	Inheritance (The super() function):

o	Task: Create a subclass named GoldenRetriever that inherits from Dog. Override the bark(self) method to print "Happy Woof!" instead of "Woof!".
    
o	Action: Create an instance of GoldenRetriever and call its bark() method.

In [29]:
class Dog:
    def __init__(self, name):
        self.name = name

    def bark(self):
        print(f"Woof! My name is {self.name}")

class GoldenRetriever(dog):
    def bark(self):
        print("Happy Woof!")

gr_dog = GoldenRetriever("Sunny")

gr_dog.bark()

Happy Woof!

5.	Encapsulation (Name Mangling):

Task: Modify the Dog class. Change the age attribute to a private attribute by naming it __age.
Logic: Create a public method get_age(self) that returns the value of the private attribute.
Action: Try to access my_dog.__age directly (it should cause an error) and then access it correctly using my_dog.get_age().

In [30]:
class Dog:
    def __init__(self, name, age):
        self.name = name
        self.__age = age  # Private attribute

    def get_age(self):
        return self.__age  # Public method to access private attribute

# Create an instance of Dog
my_dog = Dog("Buddy", 5)

# Try to access __age directly (will cause an AttributeError)
try:
    print(my_dog.__age)
except AttributeError:
    print("Error: Cannot access private attribute __age directly.")

# Access __age correctly using the public method
print("Dog's age is:", my_dog.get_age())

Error: Cannot access private attribute __age directly.
Dog's age is: 5

6.	Polymorphism (Method Overriding):

o	Task: Create a base class Shape with a method area(self) that prints "Area not calculated." Create a subclass Circle that overrides area(self) to                 print "Area of a Circle is Ï€r2".
o	Action: Create an instance of both Shape and Circle and call the area() method on both.

In [6]:
class Shape:
    def __init__(self):
        print( "Area not calculated.")

class circle(Shape):
    def __init__(self):
        print("area of circle is 3.14*r*r")

generic_shape = Shape()
circle_shape = circle()

Area not calculated.
area of circle is 3.14*r*r

7.	Special Method (__str__):

o	Task: Implement the special method __str__(self) in the Car class (from Question 3) to return a user-friendly string description
          (e.g., "A Car object").
o	Action: Create a Car object and use the built-in print() function on the object directly.

In [7]:
class car:
    total_cars = 0
    
    def __init__(self):
        car.total_cars +=1

    def __str__(self):
        return("a car object")

my_car = car()

In [9]:
print(my_car)

a car object

9.	Multiple Inheritance:

o	Task: Define two simple parent classes: Flyable (with method fly()) and Swimmable (with method swim()).
        Create a child class Duck that inherits from both.
o	Action: Create a Duck object and call both the fly() and swim() methods.

In [21]:
class Flyable:
    def fly(self):
        print("i can fly")

class Swimmable:
    def swim(self):
        print("i can swim")
        
class Duck(Flyable, Swimmable):
    pass

donald = Duck()

donald.fly()
donald.swim()

i can fly
i can swim

In [ ]:
class Flyable:
    def fly(self):
        print("I can fly!")

class Swimmable:
    def swim(self):
        print("I can swim!")

class Duck(Flyable, Swimmable):
    pass

# Create a Duck object
donald = Duck()

# Call both methods
donald.fly()   # Output: I can fly!
donald.swim()  # Output: I can swim!

10.	Composition:
o	Task: Define two classes: Engine (with a method start()) and Vehicle.
o	Logic: The Vehicle class should have an attribute that holds an instance of the Engine class (Composition).          
           Give Vehicle a method drive() that calls the start() method of its internal Engine object.
o	Action: Create a Vehicle object and call its drive() method

In [25]:
class Engine:
    def start(self):
        print("engine is started")
        
class Vehicle:
    def __init__(self):
        self.engine = Engine()
        
    def drive(self):
        self.engine.start()
        print("vehical is driving")
        
tata = Vehicle()
tata.drive()

engine is started
vehical is driving